<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Advertisement Flow</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://www.adsflow.cc/">Home</a></li>
            <li><a href="http://www.adsflow.cc/realtime">WinningBids</a></li>
            <li class="active"><a href="http://www.adsflow.cc/map">Map</a></li>
            <li><a href="http://www.adsflow.cc/test">RealtimeScore</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<p><br/><br/><br/></p>
<p>Map of a product's ads that have been pushed across the US.</p>
<p>Please input the Product ID (0-499) that you want to search for in the following search box.</p>
<form>
<input type="text" id="formValueId" name="valueId" placeholder="Integer from 0 to 499"/>
<input type="button" id="theButton" value="Update"/>
</form>
<p>Please click the "Update" button to show the geolocation distribution of the ads that have been pushed through our system.</p>
 <div id="container1" style="height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto"></div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

<script>
$(function () {
    var button = document.getElementById("theButton"),
    value =  button.form.valueId.value;
    button.onclick = function() {

    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    var url='http://www.adsflow.cc/map/'+button.form.valueId.value;
    //alert(url);
    $.getJSON(url, function (data) {
	data=data.statecount
        // Make codes uppercase to match the map data
        $.each(data, function () {
            this.code = this.code.toUpperCase();
        });

        // Instanciate the map
        $('#container1').highcharts('Map', {

            chart: {
                borderWidth: 1
            },

            title: {
                text: "Total Number of ads Pushed"
            },

            legend: {
                layout: 'horizontal',
                borderWidth: 0,
                backgroundColor: 'rgba(255,255,255,0.85)',
                floating: true,
                verticalAlign: 'top',
                y: 25
            },

            mapNavigation: {
                enabled: true
            },

            colorAxis: {
                min: 1,
                type: 'logarithmic',
                minColor: '#EEEEFF',
                maxColor: '#000022',
                stops: [
                    [0, '#EFEFFF'],
                    [0.67, '#4444FF'],
                    [1, '#000022']
                ]
            },

            series: [{
                animation: {
                    duration: 1000
                },
                data: data,
                mapData: Highcharts.maps['countries/us/us-all'],
                joinBy: ['postal-code', 'code'],
                dataLabels: {
                    enabled: true,
                    color: '#FFFFFF',
                    format: '{point.code}'
                },
                name: 'Ads pushed',
                tooltip: {
		  pointFormat: '{point.code}: {point.value}'
                }
            }]
        });
    });
}
});
</script>

</html>
